<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Page</title>
    </head>
    <body>
        <h1>Profile</h1>
        <p>Here is your profile information:</p>
        <p><strong>User id:</strong> <%= user.id %></p>
        <p><strong>Name:</strong> <%= user.name %></p>
        <p><strong>Id Token:</strong> <%= user.id_token %></p>
        <a href="/logout">
            <input type="button" value="Logout" />
        </a>
        <a href="/boats">
            <input type="button" value="Boats" />
        </a>
        <a href="/loads">
            <input type="button" value="Loads" />
        </a>
    </body>
</html>