<html>
    <head>
        <title>Final</title>
    </head>
    <body>
        <h1>Welcome to Boats 'N' Loads</h1>
        <p>Click the button below to authenticate with Google.</p>
        <a href="/login">
            <input type="button" value="Login" />
        </a>
</html>